[Unit]
Description=Pmon2 Daemon Service
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/pmon2/bin/pmond
ExecStop=/usr/bin/kill $MAINPID
TimeoutStartSec=0
RemainAfterExit=no
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=default.target
